<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zach.musicians">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Musician Finder"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity android:name=".ui.MainActivity"></activity>
        <activity android:name=".ui.CreateAccountActivity"></activity>
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.CreateProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.zach.musicians.ui.MainActivity" />
        </activity>
        <activity android:name=".ui.SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.zach.musicians.ui.MainActivity" />
        </activity>
    </application>

</manifest>